<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search by year</title>
    <script>
        function validateForm(event) {
            // Prevent form submission if blank or only spaces input
            const yearInput = document.getElementById("year").value.trim();
            if (yearInput === "") {
                event.preventDefault(); 
                alert("You haven't input anything, try again!");
                return false;
            }

            // Prevent form submission if not a valid int
            const year = parseInt(yearInput);
            if (isNaN(year) || !Number.isInteger(yearInput)) {
                event.preventDefault(); 
                alert("Please enter a valid number for the year in form of an integer!");
                return false;
            }

            // Prevent form submission if year doesn't exist
            const d = new Date();
            let current_year = d.getFullYear();
            if (year < 1900 || year > current_year) {
                event.preventDefault(); 
                alert("The year you input doesn't exist, try again!");
                return false;
            }
            return true;
    }
    </script>
</head>
<body>
    <h1>Search Movies by year</h1>

    <form method="POST" onsubmit="return validateForm(event)">
        <label for="year">Enter year:</label>
        <input type="text" id="year" name="year" placeholder="e.g., 2012" required>
        <input type="submit" value="Search">
        <br>
    </form>

    <br>
    <a href="/">Go back to the main page</a>
</body>
</html>
